{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="home-welcome-section">
        <div class="home-container">
            <h1>Welcome to Fresh Basket</h1>
            <p>Discover fresh, organic, and locally sourced products for a healthier lifestyle.</p>
        </div>
    </section>

    <section class="home-card-section">
        <div class="home-card-container">
            <div class="home-card">
                <a class="home-card-link" href="{% url 'promotions-all' %}">
                    <img src="{% static 'images/promotions_image.jpg' %}" alt="Promotions Image">
                    <h3>Promotions/Offers</h3>
                    <p>Check out our latest promotions, discounts, and exclusive offers</p>
                </a>
            </div>
            <div class="home-card">
                <a class="home-card-link" href="{% url 'products-all' %}">
                    <img src="{% static 'images/products_image.jpg' %}" alt="Products Image">
                    <h3>All Products Catalog</h3>
                    <p>Discover our wide range of fresh and organic products</p>
                </a>
            </div>
            <div class="home-card">
                <a class="home-card-link" href="{% url 'favourites-products' %}">
                    <img src="{% static 'images/favorites_image.jpg' %}" alt="Favorites Image">
                    <h3>Favorites</h3>
                    <p>You can easily view and manage your favorite products</p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
