<!-- payment_platform.html -->
{% extends 'base/base.html' %}

{% block content %}
    <div class="before-payment-container">
        <h1>Ready to make a payment?</h1>
        <p>Click the button below to proceed to the payment platform.</p>
        <button id="before-payment-checkout-button">Proceed to Payment</button>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('{{ key }}');

        const checkoutButton = document.getElementById('before-payment-checkout-button');

        checkoutButton.addEventListener('click', () => {
            // Use the session_id passed from the view
            const sessionId = "{{ CHECKOUT_SESSION_ID }}";
            console.log(sessionId)
            stripe.redirectToCheckout({
                sessionId: sessionId
            }).then(function (result) {
                if (result.error) {
                    // Display error message to the user
                    alert(result.error.message);
                }
            });
        });
    </script>
{% endblock %}
