{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% if all_catalogs %}
        <div class="catalog-card">
            <h2>All Products Catalog</h2>
            <ul>
                <li>
                    <a href="{% url 'products-all' %}" class="catalog-link">
                        <div class="catalog-item">
                            <div class="catalog-img">
                                {% if all_catalogs.catalog_image %}
                                    <img class="catalog-with-image" src="{{ all_catalogs.catalog_image.url }}"
                                         alt="{{ all_catalogs.name }}"/>
                                {% else %}
                                    <img class="catalog-no-image" src="{% static 'images/no image.jpg' %}"
                                         alt="{{ all_catalogs.name }}"/>
                                {% endif %}
                            </div>
                            <div class="catalog-details">
                                <h3>{{ all_catalogs.name }}</h3>
                                <p>{{ all_catalogs.description }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <p class="catalog-no-catalog">No catalogs are available at the moment.</p>
    {% endif %}

    {% if discounted_catalogs %}
        <div class="catalog-card">
            <h2>Discounts Catalog</h2>
            <ul>
                <li>
                    <a href="{% url 'products-discount' %}" class="catalog-link">
                        <div class="catalog-item">
                            <div class="catalog-img">
                                {% if all_catalogs.catalog_image %}
                                    <img class="catalog-with-image" src="/media/{{ discounted_catalogs.catalog_image }}"
                                         alt="{{ discounted_catalogs.name }}"/>
                                {% else %}
                                    <img class="catalog-no-image" src="{% static 'images/no image.jpg' %}"
                                         alt="{{ discounted_catalogs.name }}"/>
                                {% endif %}
                            </div>
                            <div class="catalog-details">
                                <h3>{{ discounted_catalogs.name }}</h3>
                                <p>{{ discounted_catalogs.description }}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <p class="catalog-no-catalog">No catalogs are available at the moment.</p>
    {% endif %}
{% endblock %}