{% extends 'base/base.html' %}

{% block content %}
    <div class="catalog-product-card">
        <h2>All Products</h2>
        <form class="catalog-search-form" method="GET" action="{% url 'products-discount' %}">
            <label class="catalog-search-label">
                <input class="catalog-search-input" type="text" name="q" placeholder="Search products">
            </label>
            <button class="catalog-search-button" type="submit">Search</button>
        </form>

        <div class="catalog-product-container">
            {% for product in products %}
                <div class="catalog-product-item">
                    <a href="{% url 'all-product-details' product.pk %}" class="catalog-product-link">
                        <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                        <div class="catalog-product-details">
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="catalog-price-container">
                            <span class="catalog-new-price">{{ product.price }} BGN</span>
                            {% if product.old_price %}
                                <span class="catalog-old-price">{{ product.old_price }} BGN</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No products found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
