{% extends 'base/base.html' %}

{% block content %}
    <div class="catalog-product-card">
        <h2>Discount Products</h2>
        <div class="catalog-product-container">
            {% for product in products %}
                <div class="catalog-product-item">
                    <a href="{% url 'discount-product-details' product.pk %}" class="catalog-product-link">
                        <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                        <div class="catalog-product-details">
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="catalog-price-container">
                            <span class="catalog-new-price">{{ product.price }} BGN</span>
                            {% if product.old_price %}
                                <span class="catalog-old-price">{{ product.old_price }} BGN</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% empty %}
                <p class="catalog-no-products">No products found.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
