{% extends 'base/base.html' %}

{% block content %}
    <div class="detail-product-card">
        <h2>{{ product.name }}</h2>
        <div class="detail-product-details">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <p class="detail-description">{{ product.description }}</p>
            <div class="detail-price-container">
                <p><span>Price:</span> {{ product.price }} BGN</p>
                {% if product.old_price %}
                    <p class="detail-old-price"><span>Old Price:</span> {{ product.old_price }} BGN</p>
                {% endif %}
            </div>
            <form action="{% url 'add-to-cart' product.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="detail-add-to-cart-button">Add to Cart</button>
                {% if product.has_weight %}
                    <label>
                        Weight (kg):
                        <input type="number" name="weight" step="0.01" min="0" class="detail-quantity-input" required>
                    </label>
                {% else %}
                    <label>
                        Qty:
                        <input type="number" name="quantity" value="1" min="1" class="detail-quantity-input" required>
                    </label>
                {% endif %}
            </form>
            <div class="detail-favorite-reviews-btns">
                <form action="{% url 'add-to-favourites' product.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="detail-add-to-favorites-button">Add to Favorites</button>
                </form>
                <a href="{% url 'product-reviews' product.pk %}" class="detail-read-reviews-button">Read Reviews</a>
            </div>
            <div class="detail-messages-container">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <p class="detail-error-message">{{ message }}</p>
                    {% elif message.tags == 'success' %}
                        <p class="detail-success-message">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}
