{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="profile-details">
        <div class="profile-picture">
            {% if user.profile_picture %}
                <img src="/media/{{ user.profile_picture }}" alt="Profile Picture"/>
            {% else %}
                <img src="{% static 'images/person.png' %}" alt="Profile Picture"/>
            {% endif %}
        </div>
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <p>Email: {{ user.email }}</p>
            <p>First Name: {{ user.first_name }}</p>
            <p>Last Name: {{ user.last_name }}</p>
            <p>Gender: {{ user.gender }}</p>
            <!-- Add more profile information as needed -->
        </div>
        <div class="profile-actions">
            <a href="{% url 'profile-edit' user.pk %}">
                <img class="edit-button" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="Edit"/>
            </a>
            <a href="{% url 'profile-delete' user.pk %}">
                <img class="delete-button" src="{% static 'images/icon-remove-22.jpg' %}" alt="Delete"/>
            </a>
        </div>
    </div>

    <div class="promotions-section">
        <h2 class="promotions-title">Promotions/Offers</h2>
        <p class="promotions-description">Check out our latest promotions, discounts, and exclusive offers:</p>
        <ul class="promotions-list">
            {% for promotion in promotions %}
                <li class="promotion-item">
                    <h3 class="promotion-title">{{ promotion.title }}</h3>
                    <p class="promotion-description">{{ promotion.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
